.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
}


.message {
    text-align: center;
    color: #7f8c8d;
    font-size: 1.2rem;
    margin-top: 20px;
}

.loading {
    text-align: center;
    color: #3498db;
    font-size: 1.2rem;
    margin-top: 20px;
}

.error {
    text-align: center;
    color: #e74c3c;
    font-size: 1.2rem;
    margin-top: 20px;
}